html {
  scroll-behavior: smooth;
}
nav{
  position: fixed !important;
  width:100% !important;
  z-index: 1;
}
.nav-item{
  margin-right: 1em;
  font-size: 1.2em;
}
#navbarSupportedContent{
  float: right;
}
.logo{
    height: 1em;
}
.flexcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#welcome-section{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100% !important;
}
.project-title{
  color:white;
  font-size: 6em;
  font-family: 'Dancing Script', cursive;
}
.sec-project-title{
  color: white;
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
}
.project-title2{
  margin: 1em 1em 0em 1em;
  font-size: 4.5em;
  font-family: 'Dancing Script', cursive;
}
#projects{
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#contact{
  background-color: #110326;
  height: 300px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
}
#social-media{
  display: flex;
  flex-direction: row;
}
footer{
  background: red;
  vertical-align: middle;
  height: 2.5em;
}
.social-media-item{
  font-size: 3em;
}

.projects{
  z-index: 0;
}

.project{
  margin-bottom: 1em;
  margin-top: 1em;
}
.project-tile{
  font-size: 1.5em;
  font-family: 'Dancing Script', cursive;
}
a {
  text-decoration: none !important;
}
.image{
  height: 25em;
  border-radius: 5%
}
a {
  width: 5em;
}
.btn{
  margin-bottom: 2em;
  width: 7em;
}
